@model WarehouseWebApp.Models.Document

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2 class="header-title">Orders List</h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Documents" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="Documents" asp-action="Index">Danh sách phiếu mua</a>
            <span class="breadcrumb-item active">Tạo mới phiếu mua</span>
        </nav>
    </div>
</div>
<form asp-controller="InternalExportDocuments" asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>


    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">

                    <div class="form-group">
                        <label class="font-weight-semibold" asp-for="DateDocument">Ngày:</label>
                        <input type="date" class="form-control" asp-for="DateDocument">

                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" asp-for="Quantity">Số lượng:</label>
                        <input type="number" class="form-control" asp-for="Quantity">
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" asp-for="UnitId">Đơn vị nhập:</label>
                        <select class="custom-select" asp-for="UnitId" asp-items="ViewBag.Units">
                            <option value="" disabled selected>Chọn đơn vị</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-semibold" asp-for="UnitOut">Đơn vị xuất:</label>
                        <select class="custom-select" asp-for="UnitOut" asp-items="ViewBag.Units">
                            <option value="" disabled selected>Chọn nhà xuất</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="font-weight-semibold" asp-for="Note">Ghi chú:</label>
                        <input type="text" class="form-control" asp-for="Note">
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <div class="switch m-r-10">
                            <input type="checkbox" name="Status" id="Status"
                                   @(Model!=null&&Model.Status==true?"value=true checked": "value=false")
                                   onclick="changeValueCheckBox()" />
                            <label for="Status"></label>
                        </div>
                        <label>Status</label>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <i class="anticon anticon-plus-circle"></i>
                        <span>Tạo</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{


    <script>
        function changeValueCheckBox() {
            var selected = [];
            $('input[type=checkbox]').each(function () {
                if ($(this).is(":checked")) {
                    var checkBox = document.getElementById($(this).attr('id'));
                    checkBox.value = "true";

                }
                else {
                    var checkBox = document.getElementById($(this).attr('id'));
                    checkBox.value = "false";
                }
            });
        }

    </script>
}
